body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    margin-top: 50px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="textarea"],
input[type="email"],
select {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="textarea"]:focus,
input[type="email"]:focus,
select:focus {
    border-color: #66afe9;
    outline: none;
}

button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c;
}

.errorlist {
    color: red;
    margin: 5px 0;
    padding: 0;
    list-style-type: none;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.errorlist {
    color: red;
    margin: 5px 0;
    padding: 0;
    list-style-type: none;

}

.upd {
    margin: 30px
}

.toast {
    z-index: 9999;
    min-width: 300px;
    max-width: 90%;
    font-size: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    animation: fadein 0.3s ease-in-out;
}

.toast-body {
    font-weight: 500;
}


@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
