<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <div class="container">
        <h2>Welcome to the Home Page</h2>
        <h3>Your Recipes:</h3>
        <div class="search-container">
            <form method="GET" action="">

                <input type="text" name="search" placeholder="Search recipies" value="{{ search_query }}">
                 <button type="submit"> Search</button>
            </div>
            <div class="filter-container">



                    <div>
                        <h4>Diets:</h4>
                        {% for diet in diets %}
                        <label>
                            <input type="checkbox" name="diets" value="{{ diet.id }}"
                            {% if diet.id|stringformat:'d' in selected_diets %} checked {% endif %} >
                            {{ diet.name }}
                        </label>
                        {%  endfor %}
                    </div>
                    <div>
                        <h4>Categories:</h4>
                        {% for c in categories %}
                        <label>
                            <input type="checkbox" name="categories" value="{{ c.id }}"
                            {% if c.id|stringformat:'d' in selected_categories %} checked {% endif %}>
                            {{ c.name }}
                        </label>
                        {%  endfor %}
                    </div>
                </form>
            </div>
        <div class="recipe-list">
            {% for recipe in recipes %}
            <div class="recipe-card">
                <h4>{{ recipe.title }}</h4>
                <p class="author">by {{ recipe.author.username }}</p>
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe-image"> 
                <p>{{ recipe.instructions }}</p>
                <p> <strong>Created at:</strong> {{ recipe.created_at|date:"Y-m-d H:i" }} </p>
                <p> <strong>Updated at:</strong> {{ recipe.updated_at|date:"Y-m-d H:i" }} </p>

                {% if  user.is_authenticated  and user.is_authenticated  %}
                <form action="{% url 'delete_recipe' recipe.id %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="delete-button">Delete</button>
                </form>
                <a href="{% url 'update_recipe' recipe.id %}" class="update-button">Update</a>
                {% endif %}

                <div class="comments-section">
                    {% if user.is_authenticated %}
                    <h5>Add Comments</h5>
                    <form action="{% url 'add_comment' recipe.id %}" method="POST">
                        {% csrf_token %}
                        <textarea name="content" rows="3" cols="10" placeholder="Leave comment"></textarea>
                        <button type="submit" class="comment-button">Comment</button>
                    </form>
                    {% endif %}
                    <div class="allcomm">

                        <h5>All Comments {{ recipe.comments.count }}</h5>
                        {% for comment in recipe.comments.all %}
                        <div class="comment">
                            <p><strong>{{ comment.author.username}} : </strong> {{ comment.content}}</p>

                            <p class="comment-date">{{ comment.created_at|date:"Y-m-d H:i" }}</p>
                  

                            {% if user.is_authenticated and user == comment.author %}
                            <form action="{% url 'delete_comment' comment.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="delete-button">Delete</button>
                            </form>

                            {% endif %}

                            {% if user.is_authenticated %}

                            <form action="{% url 'add_comment' recipe.id %}" method="POST" style="display:inline">
                                {% csrf_token %}
                                <textarea name="content" rows="3" cols="10" placeholder="Reply..." required></textarea>
                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                <button type="submit" class="reply-button">Reply</button>
                            </form>

                            {% endif %}
                            
                            <div class="replies">
                                {% for reply in comment.replies.all %}
                                    <div class="comment">
                                        <p><strong>{{ reply.author.username }}</strong>: {{ reply.content }}</p>
                                        <p class="comment-date">{{ reply.created_at|date:"Y-m-d H:i" }}</p>
                                    </div>
                                {% empty %}
                                    <p>No replies yet.</p>
                                {% endfor %}
                            </div>
                        </div>
                        {% empty %}
                        <p>No comments yet</p>
                        {% endfor %}
                    </div>


                </div>
            </div>
            {% empty %}
            <div class="no-recipes">No recipes available.</div>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if recipes.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ recipes.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
                </span>
        
                {% if recipes.has_next %}
                    <a href="?page={{ recipes.next_page_number }}">next</a>
                    <a href="?page={{ recipes.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

        {% if not user.is_authenticated %}
        <div class="auth-links">
            <p>
                <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
            </p>

        </div>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="add-recipe-button-container">
        <a href="{% url 'add_recipe' %}" class="add-recipe-button">Add a New Recipe</a>
    </div>
    {% endif %}


    <footer>
        {% if user.is_authenticated %}
        <p><a href="{% url 'logout' %}">Logout</a></p>
        {% endif %}
        {% if not user.is_authenticated %}
        <p>Welcome to foodomania page</p>
        {% endif %}

    </footer>
</body>

</html>