<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="shortcut icon" href="/media/recipes/images/recipe_12300151.png" type="image/x-icon">

</head>

<body>
    <div class="container">
        <header>

            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand text-success" href="#">Foodomania</a>
                    <button class="navbar-toggler bg-light   navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-5">
                            {% if not user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>
                            {% endif %}


                            {% if  user.is_authenticated  and user.is_superuser %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'add_diet' %}">Add Diet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                    href="https://8000-emamiha-foodomania-65sbhscpd8e.ws.codeinstitute-ide.net/admin/">Admin
                                    Dashboard</a>
                            </li>
                            {% endif %}
                        </ul>
                        {% if user.is_authenticated %}
                        <ul class="navbar-nav ms-5">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                            <li class="nav-item nav-link disabled">User: <strong>{{ user.username }}</strong></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container mt-4">

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img src="/media/recipes/images/plate.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item active">
                        <img src="/media/recipes/images/food-blog.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/media/recipes/images/heart.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>


        <div class="container mb-5 mt-5">
            <form class="search_form">
                <div class="search-container">
                    <input type="text" name="search" placeholder="Search recipes" value="{{ search_query }}">

                </div>
                <div class="filter-container">
                    <div>
                        <h4>Diets:</h4>
                        <div class="filtchk">
                            {% for diet in diets %}
                            <label>
                                <input type="checkbox" name="diets" value="{{ diet.id }}"
                                    {% if diet.id|stringformat:'d' in selected_diets %} checked {% endif %}
                                    class="check">
                                {{ diet.name }}
                            </label>
                            {%  endfor %}
                        </div>
                    </div>
                    <div>
                        <h4>Categories:</h4>
                        <div class="filtchk">
                            {% for c in categories %}
                            <label>
                                <input type="checkbox" name="categories" value="{{ c.id }}"
                                    {% if c.id|stringformat:'d' in selected_categories %} checked {% endif %}
                                    class="check">
                                {{ c.name }}
                            </label>
                            {%  endfor %}
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary offset-4 col-3"> Search</button>
            </form>
        </div>



        <div class="recipe-list">
            {% for recipe in recipes %}
            <div class="recipe-card">
                <h4>{{ recipe.title }}</h4>
                <p class="author">by {{ recipe.author.username }}</p>
                {%if recipe.image %}
                <a href="{% url 'recipe_detail' recipe.id %}">
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe-image">
                </a>
                {% else %}

                <a href="{% url 'recipe_detail' recipe.id %}">
                    <img src="/media/recipes/images/noimage.jpg" alt="noimage" class="recipe-image">
                </a>
                {% endif %}
                <p> <strong>Created at:</strong> {{ recipe.created_at|date:"Y-m-d H:i" }} </p>
                <p> <strong>Updated at:</strong> {{ recipe.updated_at|date:"Y-m-d H:i" }} </p>

                <form id="like-form-{{ recipe.id }}" class="like-form" action="{% url 'like_recipe' recipe.id %}"
                    method="POST" style="display:inline">
                    {% csrf_token %}
                    <button type="button" class="btn btn-heart" id="like-btn-{{ recipe.id }}"
                        data-recipe-id="{{ recipe.id }}">
                        {% if  request.user in recipe.likes.all %}
                        ❤️<strong><span id="like-count-{{ recipe.id }}">{{ recipe.number_of_likes }}</span></strong>
                        {% else %}
                        🤍<strong><span id="like-count-{{ recipe.id }}">{{ recipe.number_of_likes }}</span></strong>
                        {% endif %}
                    </button>
                </form>



                {% if  user.is_authenticated %}
                {% if user.is_superuser or user == recipe.author %}
                <form action="{% url 'delete_recipe' recipe.id %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="delete-button btn-danger">Delete</button>
                </form>
                {% endif %}
                {% if user == recipe.author %}
                <a href="{% url 'update_recipe' recipe.id %}" class="update-button">Update</a>
                {% endif %}
                {% endif %}
                <div class="comments-section">
                    {% if user.is_authenticated %}
                    <h5>Add Comments</h5>
                    <form action="{% url 'add_comment' recipe.id %}" method="POST">
                        {% csrf_token %}
                        <textarea name="content" rows="3" cols="10" placeholder="Leave comment"></textarea>
                        <button type="submit" class="comment-button">Comment</button>
                    </form>
                    {% endif %}
                    <h5 class="comment-count">All Comments {{ recipe.comments.count }}</h5>
                    <div class="allcomm hide">


                        {% for comment in recipe.comments.all %}
                        <div class="comment">
                            <p><strong>{{ comment.author.username}} : </strong> {{ comment.content}}</p>

                            <p class="comment-date">{{ comment.created_at|date:"Y-m-d H:i" }}</p>


                            {% if user.is_authenticated %}
                            {% if  user == comment.author or user.is_superuser %}
                            <form action="{% url 'delete_comment' comment.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="delete-button">Delete</button>
                            </form>

                            {% endif %}
                            {% endif %}

                            {% if user.is_authenticated %}

                            <form action="{% url 'add_comment' recipe.id %}" method="POST" style="display:inline">
                                {% csrf_token %}
                                <textarea name="content" rows="3" cols="10" placeholder="Reply..." required></textarea>
                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                <button type="submit" class="reply-button">Reply</button>
                            </form>

                            {% endif %}

                            <div class="replies">
                                {% for reply in comment.replies.all %}
                                <div class="comment">
                                    <p><strong>{{ reply.author.username }}</strong>: {{ reply.content }}</p>
                                    <p class="comment-date">{{ reply.created_at|date:"Y-m-d H:i" }}</p>
                                </div>
                                {% empty %}
                                <p>No replies yet.</p>
                                {% endfor %}
                            </div>
                        </div>
                        {% empty %}
                        <p>No comments yet</p>
                        {% endfor %}
                    </div>


                </div>
            </div>
            {% empty %}
            <div class="no-recipes">No recipes available.</div>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if recipes.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ recipes.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}
                </span>

                {% if recipes.has_next %}
                <a href="?page={{ recipes.next_page_number }}">next</a>
                <a href="?page={{ recipes.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>


    </div>
    {% if user.is_authenticated %}
    <div class="add-recipe-button-container">
        <a href="{% url 'add_recipe' %}" class="add-recipe-button">Add a New Recipe</a>
    </div>
    {% endif %}


    <footer>

        <p>&copy;2024 <a  href="{% url 'about' %}" target="_blank">Milena Ceglia Mihajilovic</a></p>

        <ul id="social-networks">
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)">
                    <i class="fa-brands fa-instagram"></i></a>
            
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)">
                    <i class="fa-brands fa-facebook"></i></a>
            </li>

        </ul>



    </footer>


    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="commentModalLabel">Comments</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {


            $('.comment-count').on('click', function () {
                var commentsHtml = $(this).closest('.comments-section').find('.allcomm').html();
                $('#commentModal .modal-body').html(commentsHtml);
                var myModal = new bootstrap.Modal(document.getElementById('commentModal'), {});
                myModal.show();
            });


            $('.btn-heart').on('click', function () {
                var recipeId = $(this).data('recipe-id');
                var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
                var button = $(this);

                $.ajax({
                    url: "{% url 'like_recipe' 0 %}".replace("0", recipeId),
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': csrfToken
                    },
                    success: function (response) {
                        $('#like-count-' + recipeId).text(response.likes_count);

                        if (response.liked) {
                            button.text(`❤️ ${response.likes_count}`);
                        } else {
                            button.text(`🤍 ${response.likes_count}`);
                        }
                    },
                    error: function () {
                        alert("An error occurred while processing your request.");
                    }
                });
            });
        });
    </script>
</body>

</html>