<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.title }}</title>
    <style>
         ul.ingredients-list {
            list-style-type: none;  
            padding-left: 0;
        }

        ul.ingredients-list li {
            position: relative;
            padding-left: 20px; 
            margin-bottom: 5px;  
        }

        ul.ingredients-list li:before {
            content: '\2022';  
            font-size: 20px;  
            color: #007bff;  
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
</head>

<body>
    <div class="recipe-detail-container">
        <h1>{{ recipe.title }}</h1>
        <p><strong>Author:</strong> {{ recipe.author.username }}</p>

        {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe-image">
        {% else %}
        <p>No image available for this recipe.</p>
        {% endif %}

        <p><strong>Instructions:</strong></p>
        {% for line in instructions_list %}
        <li>{{ forloop.counter }}. {{ line }}</li>
        {% endfor %}

        <h3>Ingredients</h3>
        <ul class="ingredients-list">
            {% for ingredient in ingredients %}
                <li>{{ ingredient.name }}</li>
            {% empty %}
                <li>No ingredients found</li>
            {% endfor %}
        </ul>
        <p><strong>Created at:</strong> {{ recipe.created_at|date:"Y-m-d H:i" }}</p>
        <p><strong>Updated at:</strong> {{ recipe.updated_at|date:"Y-m-d H:i" }}</p>

        <p><strong>Likes:</strong> {{ recipe.number_of_likes }}</p>


        <a href="{% url 'home' %}">Back to Home</a>
    </div>
</body>

</html>