<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Recipe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_recipes.css' %}"> 
    <link rel="shortcut icon" href="/media/recipes/images/recipe_12300151.png" type="image/x-icon">
   
</head>

<body>
    <div class="container">
        <h2>Update Recipe</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <h3>Current image</h3>
            {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" style="max-width: 300px; max-height: 300px;" />
            {% endif %}
<h3>Update image</h3>
{{ form.image }}

            <h3>Ingredients</h3>
            <div id="ingredient-inputs">
                {% for ingredient in ingredients %}
                <div class="ingredient-item">

                    <input type="text" name="ingredients[]" value="{{ ingredient.name  }}" required>
                    <button type="button" class="btn btn-danger remove-ingredient">Delete</button>

                </div>
                {% endfor %}
            </div>
            <button type="button" id="add-ingredient-btn" class="btn-warning">Add ingredient</button>


            <h3>Instructions</h3>
            <div id="instruction-inputs">
                {% for instruction in instructions %}
                <div class="instruction-item">

                    <input type="text" name="instructions[]" value="{{ instruction.description  }}" required>
                    <button type="button" class="btn btn-danger remove-instruction">Delete</button>

                </div>
                {% endfor %}
            </div>
            <button type="button" id="add-instruction-btn" class="btn-warning">Add instructions</button>



            {% for field in form %}
            {% for error in field.errors %}
            <ul class="errorlist">
                <li>{{ error }}</li>
            </ul>
            {% endfor %}
            {% endfor %}

            <button type="submit" class="btn btn-primary upd">Update Recipe</button>
        </form>
        <div class="footer">
            <p><a href="{% url 'home' %}">Back to Home</a></p>
        </div>
    </div>

    <script src="{% static 'js/update.js' %}"></script>

</body>

</html>